      * {
        box-sizing: border-box;
      }

      body {
        width: 520px;
        min-height: 550px;
      }
      ul {
        list-style: none;
        padding: 0;
      }


      .title input{
        display: inline-block;
        width: 80%;
      }
      #videoSrc {
        width: 80%;
        display: none;
      }

      .searchBox input {
        width: 80%;
      }
      #keywordLists li>div{
        display: inline-block;
      } 
      #keywordLists .timestamp {
        width: 20%;
        margin-right: 5%;
      }
      #keywordLists .keyword {
        width: 70%;
      }